@font-face{
  font-family: Pretendard;
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url('./fonts/Pretendard-Black.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'), url('./fonts/Pretendard-ExtraBold.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('./fonts/Pretendard-Bold.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('./fonts/Pretendard-SemiBold.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('./fonts/Pretendard-Medium.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('./fonts/Pretendard-Regular.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url('./fonts/Pretendard-Light.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'), url('./fonts/Pretendard-ExtraLight.subset.woff2') format('woff2')
}
@font-face{
  font-family: Pretendard;
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url('./fonts/Pretendard-Thin.subset.woff2') format('woff2')
}
