:root {
  --color-base: #111111;
  --color-weak: #666666;
  --color-main: hsl(159deg 90% 42%);
  --color-shape: #f4f4f4;
  --color-field-line: hsl(0 0% 0% / 10%);
  --size-radius: 3px;
  --shadow-box:
    0 1px 5px rgba(0, 0, 0, .061),
    0 3px 18px rgba(0, 0, 0, .089),
    0 12px 80px rgba(0, 0, 0, .15);
}

html {
  touch-action: manipulation;
}
body {
  min-width: 640px;
  margin: 0;
  padding: 0 50px 24px;
  -webkit-text-size-adjust: none;
  color: var(--color-base);
  font-size: 16px;
  line-height: 1.6;
}
body, button, input, textarea, select {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  color: var(--color-base);
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

/* header */
.header {
  padding: 42px 0 24px;
  text-align: center;
  user-select: none;
  > h1 {
    margin: 0;
    font-size: 36px;
    color: var(--color-main);
    letter-spacing: -.5px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    user-select: none;
  }
  > p {
    margin: 4px 0 0;
    font-size: 13px;
    line-height: 1.15;
    color: var(--color-weak);
  }
}

/* form */
.form {
  margin: 0;
  padding: 24px;
  background: hsl(0 0% 100%);
  box-shadow: var(--shadow-box);
  border-radius: 4px;
  .form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    > legend {
      font-size: 0;
    }
  }
  .form__body {
    display: grid;
    margin: 0;
    gap: 0 0;
  }
  .form__submit {
    display: flex;
    margin: 20px 0 0;
    justify-content: center;
    .button {
      width: 160px;
      height: 36px;
    }
  }
}

/* box title */
.box-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -.5px;
  user-select: none;
}

/* field */
.field {
  margin: 0;
  padding: 10px 12px;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  border-bottom: 1px solid var(--color-field-line);
  &:first-child {
    border-top: 1px solid var(--color-field-line);
  }
  .field__label {
    margin: 0;
    line-height: 1.15;
    font-weight: 600;
    font-size: 12px;
    user-select: none;
  }
  .field__body {
    margin: 0;
  }
  .field__description {
    margin: 5px 0 0;
    font-size: 11px;
    color: var(--color-weak);
    font-weight: 400;
    line-height: 1.15;
  }
}
.field-inline {
  display: grid;
  align-items: center;
  grid-template-columns: 120px auto;
  gap: 0 8px;
  > span {
    display: block;
    font-size: 12px;
    line-height: 1;
  }
}
.field-inlines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  & + .field-inlines {
    margin-top: 8px;
  }
  .field-inline {
    grid-template-columns: auto auto;
    gap: 8px;
  }
}

/* input form */
.input-text {
  display: block;
  margin: 0;
  padding: 0 10px;
  height: 32px;
  font-size: 13px;
  border-radius: var(--size-radius);
  border: 1px solid #bbb;
  background: #fff;
  outline: none;
  box-sizing: border-box;
  &.input-text--block {
    width: 100%;
  }
}
.input-select {
  position: relative;
  display: inline-block;
  > select {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    height: 32px;
    border: 1px solid #bbb;
    font-size: 13px;
    border-radius: var(--size-radius);
    background: #fff;
    min-width: 100px;
    outline: none;
    box-sizing: border-box;
    appearance: none;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 16px;
    aspect-ratio: 1/1;
    translate: 0 -50%;
    pointer-events: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=');
    background-size: 100%;
  }
}
.input-file {
  display: grid;
  margin: 0;
  padding: 0 8px;
  height: 32px;
  border: 1px solid #bbb;
  background: #fff;
  font-size: 13px;
  border-radius: var(--size-radius);
  outline: none;
  box-sizing: border-box;
}
.input-file--block {
  width: 100%;
}
.input-text:focus-visible,
.input-file:focus-visible,
.input-select:focus-visible {
  box-shadow: 0 0 0 2px var(--color-main);
}

/* result */
.result {
  margin: 48px 0 0;
  padding: 24px 24px 32px;
  background: hsl(0 0% 100%);
  box-shadow: var(--shadow-box);
  border-radius: 4px;
  .box-title {
    margin: 0 0 16px;
  }
  .result__image {
    margin: 0;
    > * {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    &:empty:after {
      display: grid;
      place-content: center;
      height: 120px;
      content: '...';
      background: hsla(0 0% 0% / 4%);
      font-size: 13px;
      color: var(--color-weak);
    }
  }
}

/* button */
.button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: var(--color-main);
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: -.5px;
  cursor: pointer;
  outline: none;
  border-radius: var(--size-radius);
  transition: box-shadow 200ms ease-out;
  user-select: none;
  box-sizing: border-box;
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  &:where(:active, :focus-visible) {
    box-shadow: 0 0 0 4px rgb(0 0 0 / 15%);
  }
}

/* file upload */
.file-upload {
  display: flex;
  align-items: center;
  gap: 0 12px;
  button {
    width: 100px;
    height: 28px;
    font-size: 13px;
    font-weight: 600;
  }
  p {
    margin: 0;
    font-size: 12px;
    line-height: 1.15;
    font-weight: 700;
    user-select: none;
    &:empty:before {
      content: '업로드한 파일이 없습니다.';
      font-weight: 500;
      color: var(--color-weak);
    }
  }
}

/* footer */
.footer {
  margin: 52px 0 0;
  text-align: center;
  user-select: none;
  > .info {
    margin: 0;
    font-size: 13px;
    line-height: 1.05;
    font-weight: 600;
    em {
      font-style: normal;
    }
  }
  > .copyright {
    margin: 4px 0 0;
    color: var(--color-weak);
    font-size: 10px;
    line-height: 1.05;
  }
}

/* github link */
.github-corner {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  > svg {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    fill:#222222;
    color:#fff;
  }
  .octo-arm {
    transform-origin: 130px 106px;
  }
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @media (max-width:500px) {
    &:hover .octo-arm {
      animation: none;
    }
    .octo-arm {
      animation:octocat-wave 560ms ease-in-out;
    }
  }

}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
