*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-base: #111111;
  --color-weak: #666666;
  --color-main: #8b65f2;
  --color-shape: #f4f4f4;
  --size-radius: 2px;
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  touch-action: manipulation;
}
body {
  margin: 0;
  padding: 0 0 80px;
  -webkit-text-size-adjust: none;
  color: var(--color-base);
  font-size: 16px;
  line-height: 1.6;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  color: var(--color-base);
}
@media (min-width: 768px) {
  body {
    padding: 0 50px 100px;
  }
}

main {}
@media (min-width: 768px) {
  main {
    margin: 0 auto;
    max-width: 1000px;
  }
}

/* header */
.header {
  padding: 24px 0;
}
.header__title {
  margin: 0;
  text-align: center;
  font-size: 28px;
  color: var(--color-main);
  letter-spacing: -1px;
  font-weight: 800;
  line-height: 1.15;
}
@media (min-width: 768px) {
  .header {
    padding: 36px 0 24px;
  }
  .header__title {
    font-size: 32px;
  }
}

/* form */
.form {
  margin: 0;
  padding: 30px 24px;
  background: #f4f4f4;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__fieldset > legend {
  font-size: 0;
}
.form__body {
  display: grid;
}
.form__submit {
  margin: 30px 0 0;
}
.form__submit button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 48px;
  border: none;
  background: var(--color-main);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: var(--size-radius);
  transition: box-shadow 200ms ease-out;
}
.form__submit button:active,
.form__submit button:focus-visible {
  box-shadow: 0 0 0 4px rgb(0 0 0 / 15%);
}
@media (min-width: 768px) {
  .form {
    padding: 50px;
  }
  .form__submit {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
  }
}

/* field */
.field {
  margin: 0;
  padding: 0;
}
.field:nth-child(n+2) {
  margin-top: 30px;
}
.field__label {
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 15px;
}
.field__body {
  margin: 8px 0 0;
}
.field__description {
  margin: 6px 0 0;
  font-size: 12px;
  color: var(--color-weak);
}
.field-inlines {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.field-inline {
  display: grid;
  align-items: center;
  grid-template-columns: 80px auto;
}
.field-inline > span {
  display: block;
  font-size: 14px;
  line-height: 1;
}
@media (min-width: 768px) {
  .field {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 0 12px;
  }
  .field:nth-child(n+2) {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #ccc;
  }
  .field__body {
    margin: 0;
  }
  .field-inlines {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .field-inlines + .field-inlines {
    margin-top: 8px;
  }
  .field-inline {
    grid-template-columns: auto auto;
    gap: 8px;
  }
}

/* input form */
.input-text {
  margin: 0;
  padding: 0 16px;
  height: 40px;
  font-size: 14px;
  border-radius: var(--size-radius);
  border: 1px solid #bbb;
  background: #fff;
  outline: none;
}
.input-text--block {
  width: 100%;
}
.input-select {
  margin: 0;
  padding: 0 8px 0 8px;
  height: 40px;
  border: 1px solid #bbb;
  font-size: 14px;
  border-radius: var(--size-radius);
  background: #fff;
  min-width: 100px;
  outline: none;
}
.input-file {
  margin: 0;
  padding: 8px 16px;
  border: 1px solid #bbb;
  background: #fff;
  font-size: 14px;
  border-radius: var(--size-radius);
  outline: none;
}
.input-file--block {
  width: 100%;
}
.input-text:focus-visible,
.input-file:focus-visible,
.input-select:focus-visible {
  box-shadow: 0 0 0 2px var(--color-main);
}

/* result */
.result {
  margin: 50px 0 0;
}
.result__title {
  margin: 0;
  font-size: 24px;
  text-align: center;
  line-height: 1.15;
  letter-spacing: -.5px;
}
.result__image {
  margin: 8px 0 0;
  padding: 0;
  min-height: 160px;
  background: var(--color-shape);
}
.result__image > * {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .result__title {
    text-align: left;
  }
  .result__image {
    padding: 40px;
  }
}

/* github link */
.github-corner {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}
.github-corner > svg {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  fill:#222222;
  color:#fff;
}
.github-corner .octo-arm {
  transform-origin: 130px 106px;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none;
  }
  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
  }
}
