*, *:before, *:after {box-sizing: border-box;}

body {margin: 0; -webkit-text-size-adjust: none;}
main {padding: 0; font-family: sans-serif; max-width: 1000px; margin: 0 auto;}
main > h1 {
  margin: 0; padding: 20px 0 0;
  text-align: center; font-size: 30px; color: #7752ff; letter-spacing: -.75px;
  font-family: 'Helvetica Neue', sans-serif;
}

/* form */
.form {margin: 15px 0; background: #f4f4f4; padding: 20px;}
.form .submit {margin: 20px 0 0; text-align: center;}
.form .submit button {
  width: 100%; padding: 12px 20px;
  border: none; background: #7752ff;
  color: #fff; font-size: 14px; font-weight: 600;
}
@media (max-width: 640px) {
  .form {padding: 20px 15px;}
}

/* field */
.field-item {
  margin: 0; padding: 8px 0; display: flex; align-items: center;
  border-width: 0; border-bottom-width: 1px; border-style: solid; border-color: #ddd;
}
.field-item:first-child {padding-top: 0;}
.field-item-full {flex: 1;}
.field-item > strong {width: 80px; padding: 0; font-size: 14px; color: #333;}
.field-item > div {flex: 1;}
.field-item p {margin: 8px 0 0; font-size: 12px; color: #666;}
.field-item__label {margin-left: 10px;}
.field-item__label:first-child {margin-left: 0;}
.field-item__label > * {display: inline-block; vertical-align: middle;}
.field-item__label > span {margin: 2px 4px 0 0; font-size: 14px;}

@media (max-width: 640px) {
  .field-item {display: flex;}
  .field-item > strong {width: 70px;}
  .field-item__label {display: block; margin: 5px 0 0;}
  .field-item__label:first-child {margin-top: 0;}
  .field-item__label > * {}
  .field-item__label > span {}
}

/* input form */
.input-text {
  margin: 0; padding: 8px 10px;
  border: 1px solid #ddd;
  font-size: 13px;
}
.input-text-full {display: block; width: 100%;}
.input-select {margin: 0;}

/* result */
.result {margin: 50px 0 0;}
.result h1 {margin: 0 0 5px; padding: 0 15px; font-size: 20px;}
.result figure {
  margin: 0; padding: 20px; min-height: 100px;
  background: #f4f4f4;
  word-break: break-all;
}
.result figure img,
.result figure canvas {
  display: block; margin: 0 auto; max-width: 100%;
}

